* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

.black-navbar {
  background: #0d0d0d;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  position: sticky;
}

#navbar-logo {
  background-image: linear-gradient(to right, #f90505, #ff00f7);
  background-size: 100%;
  -webkit-background-clip: text;
  /* -moz-background-clip: text; */
  -webkit-text-fill-color: transparent;
  /* -moz-text-fill-color: transparent; */
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}

a > span {
  font-family: "Permanent Marker", cursive;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  height: 60px;
}

.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-links:hover {
  color: rgb(223, 82, 21);
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

/* Hero Section */
.hero {
  /* background: #000000;
  background: linear-gradient(to right, #161616, #000000); */
  padding: 149px 0;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 20rem;
  text-align: center;
  padding: 30px;
}

video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.animeboy {
  z-index: 1000;
  width: 6rem;
}

.hero-heading {
  font-size: 57px;
  padding-top: 1rem;
  /* margin-bottom: 20px; */
  /* color: linear-gradient(to top, red, blue); */
  /* font-weight: 900px; */
  z-index: 10;
  color: white;
}

.hero-heading span {
  background: linear-gradient(to right, #f90505, #aa00ff);

  background-size: 100%;
  font-family: "Permanent Marker", cursive;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid #f90505;
}

/* About Section */
.main {
  background: rgb(227, 226, 226);
  padding: 10rem 0;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.watchlist-header {
  font-size: 2rem;
  background-size: 100%;
  color: red;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background: linear-gradient(to right, #f90505, #aa00ff);
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.39s ease;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:hover {
  color: #fff;
  background: black;
}

/* Anime-List Section */
.anime-list {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3rem;
}

.anime-list h1 {
  background: linear-gradient(to right, #f90505, #aa00ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 3rem;
  font-size: 1.7rem;
}

.trending {
  color: whitesmoke;
  letter-spacing: 0.2rem;
  padding-bottom: 1.7rem;
  font-size: 1rem;
}

.anime-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.anime-card {
  margin: 10px;
  height: 350px;
  /* height 425 width 300 */
  width: 250px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  background-image: url(https://cdn.myanimelist.net/images/anime/5/17407.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(2) {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMTY5ODk1NzUyMl5BMl5BanBnXkFtZTgwMjUyNzEyMTE@._V1_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(3) {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMTNmZDE2NDEtNTg3MS00OTE1LThlZGUtOGZkZTg0NTUyNGVmXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_UY1200_CR85,0,630,1200_AL_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(4) {
  background-image: url(https://cdn.europosters.eu/image/750/posters/death-note-from-the-shadows-i58005.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(5) {
  background-image: url(https://dgeiu3fz282x5.cloudfront.net/g/x/x-301416.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(6) {
  background-image: url(https://cdn.europosters.eu/image/750/posters/dragon-ball-z-goku-i28205.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(7) {
  background-image: url(https://i.pinimg.com/236x/0e/b5/2b/0eb52bbba911be205b8753a66d4621c6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(8) {
  background-image: url(https://m.media-amazon.com/images/M/MV5BN2E2OTgzODktMjBhYy00MjJjLWI0OTgtNGYxOGNhMWMxOWE4XkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_UY1200_CR109,0,630,1200_AL_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}
.anime-card:nth-child(9) {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_UY1200_CR85,0,630,1200_AL_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(10) {
  background-image: url(https://www.anime-planet.com/images/anime/covers/fullmetal-alchemist-437.jpg?t=1407945711);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card:nth-child(11) {
  background-image: url(https://dw9to29mmj727.cloudfront.net/products/1974719995.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}
.anime-card:nth-child(12) {
  background-image: url(https://matthew903.files.wordpress.com/2017/10/my-hero-academia-yellow-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in;
  opacity: 0.7;
}

.anime-card h2 {
  text-align: center;
}

.anime-card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.anime-name {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.anime-card button {
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 0.75rem;
}

.anime-card button:hover {
  opacity: 1;
}

.anime-card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  background-size: cover;
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  .anime-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .anime-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-container {
  background-color: #131313;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-logo {
  color: #fff;
  font-size: 1.5rem;
}

.social-link {
  color: white;
  font-size: 24px;
  transition: all 0.3s ease;
}
.social-link:hover {
  color: red;
}

.social-media {
  max-width: 800px;
  width: 90%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website-rights {
  color: #fff;
  font-size: 1rem;
}
